{% extends "base_mailer.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block title %}New Program{% endblock %}

{% block body %}
<div class="body_mailer">
    <h1>Une nouvelle série vient d'arrivée</h1>
    <h2>Titre de la série</h2>
        <ul>
            <li>{{ newProgram.title }}</li>
        </ul>
    <h2>Descritpion</h2>
        <ul>
            <li>{{ newProgram.synopsis }}</li>
        </ul>
        <div>
            <img style="max-width: 250px;" src="{{ newProgram.poster }}" />
        </div> 
    <h3>Les acteurs principaux :</h3>
        <ul>
        {% for actor in newProgram.actors %}
            <li>{{ actor.name }} </li></a>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
        </ul>
    <a href="http://localhost:8000/program/{{ newProgram.slug }}">En savoir plus !</a>
</div>

{% endblock %}