{% extends 'base.html.twig' %}

{% block title %}Programs by title{% endblock %}

{% block body %}

    <h1>{{ program.title }}</h1>
    <h3>Année de production : {{ program.year }}</h3>
        <div class="d-flex">
            <img class="align-self-start mr-3 col-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    {% for season in seasons %}
            <div>
                <a href="{{ path('wild_show_season', { 'seasonId': "{{ season.id }}"}) }}"><h2>Saison {{ season.number }}</h2></a>
                <p>{{ season.description }}</p>
            </div>    
    {% else %}
            <h3>Aucune saison trouvée.</h3>
    {% endfor %}
        </div>
    <div class="d-flex flex-row-reverse">
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    </div>

{% endblock %}