{% extends 'base.html.twig' %}

{% block title %}Seasons by season id{% endblock %}

{% block body %}
    <div>
    <h1>{{ program.title }}</h1>
    </div>
    <div class="d-flex justify-content-center">
    <h1 style="color:orange">Saison {{ seasons.number }} (sortie en {{ seasons.year }})</h1>
    
    </div>
    {% for episode in episodes %}
        <div class="d-flex">
            <img class="align-self-start mr-3 col-2" src="{{ program.poster }}" alt="{{ program.title }} poster">
            <div>
                <h2>Episode {{ episode.number }} : {{ episode.title }}.</h2>
                <p>{{ episode.synopsis }}</p>
                </div>
            </div>
    {% else %}
        <h3>Aucun episode trouvé.</h3>
    {% endfor %}
    <div class="d-flex flex-row-reverse">
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
