{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

  <div class="media">
    <img class="align-self-start mr-3 col-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
      <h1 class="mt-0">Episode {{ episode.number }} : {{ episode.title }}</h1>
      
      <p>{{ episode.synopsis }}</p>
      <a href="{{ path('wild_show_season', { 'seasonId': season.id }) }}"><p>Saison {{ season.number }}</p></a>
      <a href="{{ path('wild_show_program', { 'programTitle': program.title }) }}"><p>{{ program.title }}</p></a>
      {% if app.user %}
      <a href="{{ path('episode_show', { 'slug': episode.slug }) }}"><p>Commentaires sur cet épisode</p></a>
      <a href="{{ path('comment_new', {'slug' : episode.slug }) }}"><p>Commentez cette épisode</p></a>
      {% else %}
    {% endif %}
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <a href="{{ path('app_index') }}">
    Retour à l'accueil
    </a>
  </div>

{% endblock %}
