{% extends 'base.html.twig' %}

{% block title %}Programs by title{% endblock %}

{% block body %}

    <div>
        <h1>{{ program.title }}</h1>
        <h3>Année de production : {{ program.year }}</h3>
        {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
        {% endif %}
            <table class="table" style="border-bottom:1px solid white;">
                <tbody>
                    <tr>
                        <th>Synopsis</th>
                        <td>{{ program.synopsis }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% for season in seasons %}
        <div class="d-flex">
            <img class="align-self-start mr-3 col-2" src="{{ program.poster }}" alt="{{ program.title }} poster">
            <div>
                <a href="{{ path('wild_show_season', { 'seasonId': season.id }) }}"><h2>Saison {{ season.number }}</h2></a>
                <p>{{ season.description }}</p>
                </div>
            </div>
    {% else %}
        <h3>Aucune saison trouvée.</h3>
    {% endfor %}
    
    <div class="d-flex flex-row-reverse">
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}