<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{{ path('app_index') }}">Accueil</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('wild_index') }}">Wild Series<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('program_index') }}">Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('season_index') }}">Season</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('episode_index') }}">Episode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('actor_index') }}">Actor</a>
      </li>
      {% if is_granted ('ROLE_ADMIN') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('category_add') }}">Ajouter une catégorie</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
    {% if app.user %}
    {{ app.user.email }}
      <a class="btn btn-outline-primary my-2 my-sm-0" type="button" href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
      <a class="btn btn-outline-primary my-2 my-sm-0" type="button" href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
    </form>
  </div>
</nav>
